* {
	outline: none;
	margin: 0;
	padding: 0;
	font-size: 2vh;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (min-width : 0px) {
	.lblStatus{
		font-weight: 500;
		font-size: 5px;
		display: block;
	}
	.checkbox{
		margin: 0;
		display: inline-block;
	}
	.error{
		color: red;
		margin-bottom: 20px;
	}
	form{
		margin-left: 50px;
	}
	.id{
		width: 50px;
	}
	.statuslbl{
		display: block;
		margin-bottom: 20px;
		margin-left: 65px;
	}
	.buttons{
		display: inline-block;
	}
	.voltar{
		background-color: rgb(211, 202, 202);
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		margin-top: 20px;
		cursor: pointer;
		display: block;
	}
	label{
		font-weight: 600;
	}
	input{
		display: flex;
		margin-bottom: 20px;
		border: none;
		background-color: rgb(226, 226, 226);
		border-radius: 50px;
		text-align: center;
		height: 23px;
		margin-top: 5px;
	}
	.add{
		background-color: rgb(80, 199, 0);
		color: white;
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		float: right;
		cursor: pointer;
		margin: 20px 65px 0 0;
	}
	.conteiner{
		display: flex;
		justify-content: center;
	}
	.title{
		font-size: 30px;
		font-weight: 600;
		margin: 12px 0 25px 65px;
	}
	.edit{
		background-color: rgb(255, 208, 0);
		color: black;
		border: none;
		width: 50px;
		height: 20px;
		font-size: 7px;
		border-radius: 5px;
		display: inline;
		cursor: pointer;
	}
	.remove{
		background-color: rgb(206, 0, 0);
		color: white;
		border: none;
		width: 50px;
		height: 20px;
		font-size: 5px;
		border-radius: 5px;
		display: inline;
		cursor: pointer;
	}
	.formStatus{
		margin: 0;
	}
	table{
		border-collapse: collapse;
		width: 90%;
	}
	th{
		background-color: rgb(240, 240, 240);
		font-weight: 700;
		width: 130px;
		height: 50px;
		font-size: 9px;
		border: 1px black solid;
	}
	td{
		border: 1px black solid;
	}
	tr{
		text-align: center;
		border: 1px black solid;
	}
}
@media only screen and (min-width : 320px) {
	.lblStatus{
		font-weight: 500;
		display: block;
		font-size: 5px;
	}
	.checkbox{
		margin: 0;
		display: inline-block;
	}
	.error{
		color: red;
		margin-bottom: 20px;
	}
	form{
		margin-left: 50px;
	}
	.id{
		width: 50px;
	}
	.statuslbl{
		display: block;
		margin-bottom: 20px;
		margin-left: 65px;
	}
	.buttons{
		display: inline-block;
	}
	.voltar{
		background-color: rgb(211, 202, 202);
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		margin-top: 20px;
		cursor: pointer;
		display: block;
	}
	label{
		font-weight: 600;
	}
	input{
		display: flex;
		margin-bottom: 20px;
		border: none;
		background-color: rgb(226, 226, 226);
		border-radius: 50px;
		text-align: center;
		height: 23px;
		margin-top: 5px;
	}
	.add{
		background-color: rgb(80, 199, 0);
		color: white;
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		float: right;
		cursor: pointer;
		margin: 20px 65px 0 0;
	}
	.conteiner{
		display: flex;
		justify-content: center;
	}
	.title{
		font-size: 15px;
		font-weight: 600;
		margin: 12px 0 25px 15px;
	}
	.edit{
		background-color: rgb(255, 208, 0);
		color: black;
		border: none;
		width: 40px;
		height: 10px;
		font-size: 7px;
		font-weight: 600;
		border-radius: 5px;
		display: inline;
		cursor: pointer;
	}
	.remove{
		background-color: rgb(206, 0, 0);
		color: white;
		border: none;
		width: 40px;
		height: 10px;
		font-size: 6px;
		font-weight: 600;
		border-radius: 5px;
		display: inline;
		cursor: pointer;
	}
	.formStatus{
		margin: 0;
	}
	table{
		border-collapse: collapse;
		width: 98%;
	}
	th{
		background-color: rgb(240, 240, 240);
		font-weight: 700;
		width: 130px;
		height: 50px;
		font-size: 7px;
		border: 1px black solid;
	}
	td{
		border: 1px black solid;
		font-size: 5px;
	}
	tr{
		text-align: center;
		border: 1px black solid;
	}
}
@media only screen and (min-width : 480px) {
	.lblStatus{
		font-weight: 500;
		font-size: 9px;
		display: block;
	}
	.error{
		color: red;
		margin-bottom: 20px;
	}
	form{
		margin-left: 50px;
	}
	.id{
		width: 50px;
	}
	.statuslbl{
		display: block;
		margin-bottom: 20px;
		margin-left: 65px;
	}
	.buttons{
		display: inline-block;
	}
	.voltar{
		background-color: rgb(211, 202, 202);
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		margin-top: 20px;
		cursor: pointer;
		display: block;
	}
	label{
		font-weight: 600;
	}
	input{
		display: flex;
		margin-bottom: 20px;
		border: none;
		background-color: rgb(226, 226, 226);
		border-radius: 50px;
		text-align: center;
		height: 23px;
		margin-top: 5px;
	}
	.add{
		background-color: rgb(80, 199, 0);
		color: white;
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		float: right;
		cursor: pointer;
		margin: 20px 65px 0 0;
	}
	.conteiner{
		display: flex;
		justify-content: center;
	}
	.title{
		font-size: 20px;
		font-weight: 600;
		margin: 12px 0 25px 20px;
	}
	.edit{
		background-color: rgb(255, 208, 0);
		color: black;
		border: none;
		width: 40px;
		height: 20px;
		font-size: 8px;
		font-weight: 700;
		border-radius: 5px;
		display: inline;
		cursor: pointer;
	}
	.remove{
		background-color: rgb(206, 0, 0);
		color: white;
		border: none;
		width: 40px;
		height: 20px;
		font-size: 8px;
		border-radius: 5px;
		font-weight: 600;
		display: inline;
		cursor: pointer;
	}
	.formStatus{
		margin: 0;
	}
	table{
		border-collapse: collapse;
		width: 100%;
	}
	th{
		background-color: rgb(240, 240, 240);
		font-weight: 700;
		width: 130px;
		height: 50px;
		font-size: 9px;
		border: 1px black solid;
	}
	td{
		border: 1px black solid;
		font-size: 7px;
	}
	tr{
		text-align: center;
		border: 1px black solid;
	}
}
@media only screen and (min-width : 600px) {
	.lblStatus{
		font-weight: 500;
	}
	.checkbox{
		margin: 0;
		display: inline-block;
	}
	.error{
		color: red;
		margin-bottom: 20px;
	}
	form{
		margin-left: 50px;
	}
	.id{
		width: 50px;
	}
	.statuslbl{
		display: block;
		margin-bottom: 20px;
		margin-left: 65px;
	}
	.buttons{
		display: inline-block;
	}
	.voltar{
		background-color: rgb(211, 202, 202);
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		margin-top: 20px;
		cursor: pointer;
		display: block;
	}
	label{
		font-weight: 600;
	}
	input{
		display: flex;
		margin-bottom: 20px;
		border: none;
		background-color: rgb(226, 226, 226);
		border-radius: 50px;
		text-align: center;
		height: 23px;
		margin-top: 5px;
	}
	.add{
		background-color: rgb(80, 199, 0);
		color: white;
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		float: right;
		cursor: pointer;
		margin: 20px 65px 0 0;
	}
	.conteiner{
		display: flex;
		justify-content: center;
	}
	.title{
		font-size: 20px;
		font-weight: 600;
		margin: 12px 0 25px 65px;
	}
	.edit{
		background-color: rgb(255, 208, 0);
		color: black;
		border: none;
		width: 50px;
		height: 30px;
		border-radius: 5px;
		font-size: 12px;
		display: inline;
		cursor: pointer;
	}
	.remove{
		background-color: rgb(206, 0, 0);
		color: white;
		border: none;
		width: 50px;
		height: 30px;
		border-radius: 5px;
		font-size: 10px;
		display: inline;
		cursor: pointer;
	}
	.formStatus{
		margin: 0;
	}
	table{
		border-collapse: collapse;
		width: 90%;
	}
	th{
		background-color: rgb(240, 240, 240);
		font-weight: 700;
		width: 130px;
		height: 50px;
		font-size: 10px;
		border: 1px black solid;
	}
	td{
		border: 1px black solid;
		font-size: 14px;
	}
	tr{
		text-align: center;
		border: 1px black solid;
	}
}
@media only screen and (min-width : 801px) {
	.lblStatus{
		margin-left: 3px;
		display: block;
	}
	.checkbox{
		margin: 0;
		display: inline-block;
	}
	.error{
		color: red;
		margin-bottom: 20px;
	}
	form{
		margin-left: 50px;
	}
	.id{
		width: 50px;
	}
	.statuslbl{
		display: block;
		margin-bottom: 20px;
		margin-left: 65px;
	}
	.buttons{
		display: inline-block;
	}
	.voltar{
		background-color: rgb(211, 202, 202);
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		margin-top: 20px;
		cursor: pointer;
		display: block;
	}
	label{
		font-weight: 600;
	}
	input{
		display: flex;
		margin-bottom: 20px;
		border: none;
		background-color: rgb(226, 226, 226);
		border-radius: 50px;
		text-align: center;
		height: 23px;
		margin-top: 5px;
	}
	.add{
		background-color: rgb(80, 199, 0);
		color: white;
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		float: right;
		cursor: pointer;
		margin: 20px 65px 0 0;
	}
	.conteiner{
		display: flex;
		justify-content: center;
	}
	.title{
		font-size: 25px;
		font-weight: 600;
		margin: 12px 0 25px 65px;
	}
	.acoes{
		width: 700px;
	}
	.edit{
		background-color: rgb(255, 208, 0);
		color: black;
		border: none;
		width: 60px;
		height: 30px;
		border-radius: 5px;
		display: inline;
		cursor: pointer;
		font-size: 14px;
	}
	.remove{
		background-color: rgb(206, 0, 0);
		color: white;
		border: none;
		width: 60px;
		height: 30px;
		border-radius: 5px;
		display: inline;
		cursor: pointer;
		font-size: 13px;
	}
	.formStatus{
		margin: 0;
	}
	table{
		border-collapse: collapse;
		width: 90%;
	}
	th{
		background-color: rgb(240, 240, 240);
		font-weight: 700;
		width: 130px;
		height: 50px;
		font-size: 13px;
		border: 1px black solid;
	}
	td{
		border: 1px black solid;
	}
	tr{
		text-align: center;
		border: 1px black solid;
	}
}
@media only screen and (min-width : 1025px) {
	.lblStatus{
		margin-left: 3px;
	}
	.checkbox{
		margin: 0;
		display: inline-block;
	}
	.error{
		color: red;
		margin-bottom: 20px;
	}
	form{
		margin-left: 50px;
	}
	.id{
		width: 50px;
	}
	.statuslbl{
		display: block;
		margin-bottom: 20px;
		margin-left: 65px;
	}
	.buttons{
		display: inline-block;
	}
	.voltar{
		background-color: rgb(211, 202, 202);
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		margin-top: 20px;
		cursor: pointer;
		display: block;
	}
	label{
		font-weight: 600;
	}
	input{
		display: flex;
		margin-bottom: 20px;
		border: none;
		background-color: rgb(226, 226, 226);
		border-radius: 50px;
		text-align: center;
		height: 23px;
		margin-top: 5px;
	}
	.add{
		background-color: rgb(80, 199, 0);
		color: white;
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		float: right;
		cursor: pointer;
		margin: 20px 65px 0 0;
	}
	.conteiner{
		display: flex;
		justify-content: center;
	}
	.title{
		font-size: 30px;
		font-weight: 600;
		margin: 12px 0 25px 65px;
	}
	.acoes{
		width: 400px;
	}
	.edit{
		background-color: rgb(255, 208, 0);
		color: black;
		border: none;
		width: 60px;
		height: 25px;
		border-radius: 5px;
		display: inline;
		cursor: pointer;
	}
	.remove{
		background-color: rgb(206, 0, 0);
		color: white;
		border: none;
		width: 60px;
		height: 25px;
		border-radius: 5px;
		display: inline;
		cursor: pointer;
	}
	.formStatus{
		margin: 0;
	}
	table{
		border-collapse: collapse;
		width: 90%;
	}
	th{
		background-color: rgb(240, 240, 240);
		font-weight: 700;
		width: 130px;
		height: 50px;
		font-size: 13px;
		border: 1px black solid;
	}
	td{
		border: 1px black solid;
	}
	tr{
		text-align: center;
		border: 1px black solid;
	}
}
@media only screen and (min-width : 1281px) {
	.lblStatus{
		font-size: 12px;
		display: block;
	}
	.checkbox{
		margin: 0;
		display: inline-block;
	}
	.error{
		color: red;
		margin-bottom: 20px;
	}
	form{
		margin-left: 50px;
	}
	.id{
		width: 50px;
	}
	.statuslbl{
		display: block;
		margin-bottom: 20px;
		margin-left: 65px;
	}
	.buttons{
		display: inline-block;
	}
	.voltar{
		background-color: rgb(211, 202, 202);
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		margin-top: 20px;
		cursor: pointer;
		display: block;
	}
	label{
		font-weight: 600;
	}
	input{
		display: flex;
		margin-bottom: 20px;
		border: none;
		background-color: rgb(226, 226, 226);
		border-radius: 50px;
		text-align: center;
		height: 23px;
		margin-top: 5px;
	}
	.add{
		background-color: rgb(80, 199, 0);
		color: white;
		border: none;
		height: 35px;
		width: 80px;
		border-radius: 5px;
		float: right;
		cursor: pointer;
		margin: 20px 65px 0 0;
	}
	.conteiner{
		display: flex;
		justify-content: center;
	}
	.title{
		font-size: 30px;
		font-weight: 600;
		margin: 12px 0 25px 65px;
	}
	.edit{
		background-color: rgb(255, 208, 0);
		color: black;
		border: none;
		width: 60px;
		height: 30px;
		border-radius: 5px;
		display: inline;
		cursor: pointer;
	}
	.remove{
		background-color: rgb(206, 0, 0);
		color: white;
		border: none;
		width: 60px;
		height: 30px;
		border-radius: 5px;
		display: inline;
		cursor: pointer;
	}
	.formStatus{
		margin: 0;
	}
	table{
		border-collapse: collapse;
		width: 90%;
	}
	th{
		background-color: rgb(240, 240, 240);
		font-weight: 700;
		width: 130px;
		height: 50px;
		font-size: 13px;
		border: 1px black solid;
	}
	td{
		border: 1px black solid;
	}
	tr{
		text-align: center;
		border: 1px black solid;
	}
}
